* {
    box-sizing: border-box;
}

.header {
    color:#52586b;
    background-color: #99ffcc;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;

}


footer {
    color: #52586b;
    background-color: #99ffcc;
    padding: 20px;
    border: 2px solid #52586b;
    margin: 0;
    text-align:center;
}