:root {
    --teal: #99ffcc;
    --dark: #52586b;
}

* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

main {
    margin: 0;
 }

 section {
    margin: 0;
 }

header {
    color: var(--dark);
    background-color: var(--teal);
    font-size: 100%;
    text-align: center;
}

h1 .nie-Brockh {
    color: gray;
    background-color: var(--teal);
}

h1, h2, h3 {
    color: var(--dark);
    text-align: start;
    font-size: 210%;
    text-decoration: underline dashed var(--dark);
}

li {
    font-size: 130%;
}

button {
    color: var(--dark);
    background-color: var(--teal);
    border-color: var(--teal);
    font-size: 120%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    margin: 5px;
}

button a {
    text-decoration: none;
    color: var(--dark);
    background-color: var(--teal);
}

button:hover {
    color: gray;
/*why does this only apply to the button that doesn't link */ 
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #179972;  
}

p {
    font-size: 130%;
    color: var(--dark);
    text-align: center;
}

footer {
    color: #52586b;
    background-color: #99ffcc;
    font-size: 150%;
    padding: 20px;
    border: 2px solid #52586b;
    margin: 0;
    text-align:center;
}

#main-header {
    color: rgb(192, 192, 192);
    background-color: var(--teal);
    text-align: left;
}

#contact {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.me img{
    display: flex;
}

.hero-image {
    color:var(--dark);
    font-size: 150%;
    background: radial-gradient(circle, rgb(250, 250, 250) 0%, #179972 100%, #4d8876 100%);
    height: 5rem;
    width: 100%;
    margin-top: 0;
    text-align: center;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  